<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>RSE Project</title>
    
    <script src="https://use.typekit.net/kxf0iwn.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link type='text/css' href='{{ url_for('static', filename='style.css') }}' rel='stylesheet'>
</head>

<body>
    
    <header>
        <nav class="site-nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">User</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
        	<div class="hero-content">
                <h2>Introducing the Revolutionary</h2>
                <h1>Smart Door Pro</h1>
            </div>
        </section>

        <section class="intro">
            <div class="intro-text">
                <p>Begin your journey here</p>
            </div>
			<form method="POST">
            <button class= "intro-button" name="button" type="submit" value = "start">Start</button>
        	</form>
        </section>

        <section class="artworks">
            <article class="artwork">
              <div class="artwork-piece">
                    <figure>
                    	<img src="static/door.jpg">
                    </figure>
                </div>
                <div class="artwork-description">
                	<h2 class="artwork-title">A Door of Opportunities</h2>
                    <p class="artwork-text">Featuring full Google Home mini integration and custom user authorisation to let your friends in and strangers out. Source: Pixabay</p>
                </div>
            </article>
        </section>
		
		<section class="articles">
            <article class="article">
                <div class="article-description">
                	<h2 class="article-title">Facial Recognition</h2>
                    <p class="article-text">Who's at the door? This question has never been so easy! Simply create a profile for all your friends and family to register their faces on your database. Source: CPO Magazine</p>
                </div>
				<div class="article-piece">
                    <figure>
                    	<img src="static/face.jpg">
                    </figure>
                </div>
            </article>
        </section>
    </main>

    <footer>
    <div class="footer-content">
            <div class="footer-info">
                <p class="footer-disclaimer">This is a mock website. There is nothing to see down here, please scroll all the way back up. Any references to real products are purely coincidental, designed as part of the STEM Leaders' Project.</p>
                <p class="footer-legal">2019 Test Systems Incorporated. Fictional rights reserved.</p>
            </div>
        </div>
    </footer>
    
</body>
</html>