<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>RSE Project</title>
</head>

<body>
    <h1>Lock</h1>
    <div>
    
        {% if 'Locked' in lock_status %}
            <p> The door is locked </p>
        {% else %}
            <p> The door is unlocked </p>
        {% endif %}
            
        <form method="POST">
            <button name="button" type="submit" value = "lock">Lock</button>
        </form>

        <form method="POST">
            <button name="button" type="submit" value = "unlock">Unlock</button>
        </form>

    </div>
    <h1>Camera</h1>
    <div>
        <form method="POST">
            <button name="button" type="submit" value = "camera">Camera</button>
        </form>
    </div>
    <h2>Back</h2>
    <div>
        <form method="POST">
            <button name="button" type="submit" value = "back">Go Back</button>
        </form>
    </div>
    
</body>
</html>